@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
            font-family: "Oswald", serif!important;
            font-weight: 200 !important;
            font-style: normal !important ;
            background: black !important;
          }

/* navbar */
.navbar-brand {
  color: #0d6dfd !important;
  text-shadow: 2px 2px black !important;
  font-weight: 500 !important;
}

div.btn-group {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

div.card {
  padding: 10px;
  /* background: linear-gradient(to bottom right, hsl(0, 65%, 22%), #202020); */
  background-color: #353935;
  color: white;
}

/* footer */
div.footer {
  background-color: 
  #212529;
display: flex;
justify-content: center;
padding: 30px;
height: 150px;
}
.footer img {
  width: 20rem;
}
.btn {
  box-shadow: 3px 3px #002f75;
}
#movieGenreDropdown {
  box-shadow: 3px 3px #002f75;
}
#sort{
  box-shadow: 3px 3px #002f75;
}
#myInput{
  box-shadow: 3px 3px rgb(90, 81, 81);
  border-radius: 10px;
}

#movieGenreDropdown option {
  background: black !important;
}