.headlines {
  display: flex;
  justify-content: left;
  gap: 20px;
  padding-left: 30px;
}

div.btn-group {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cards-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  gap: 15px 15px;
}
body {
    background: black !important;}

/* .cards-container2 {
  
    padding: 20px;
       display:flex; justify-content: center; flex-wrap: wrap;
   background-color: black;
   gap: 20px 20px;
   
   } */

div.card {
  padding: 10px;
  /* background: linear-gradient(to bottom right, hsl(0, 65%, 22%), #202020); */
  background-color: #353935;
  color: white;
}
div.card h6 {
  display: flex;
  justify-content: center;
}

/* read more less function */

#more {
  display: none;
}

/* body { background: black
} */

/* .firstdiv {
background-color: darkblue;
 */

a {
  display: flex;
  justify-content: center;
}
