div.card {
    padding: 0px;
    /* background: hwb(0 4% 61% / 0.462); */
    background: #202020;
    color: white;
}
.cards-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  gap: 15px 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48 ;
}

div.card-body {
  display: flex;
  justify-content: space-between;
}

h5.card-title {
  display: flex; justify-content: center;
  height: 65px;
  padding: 10px;
 text-align: center;
}

.firstdiv {
  color: rgb(113, 113, 244);
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px rgb(42, 42, 240);
}
#movieGenreDropdown,  #sort{
  background-color: #0d6dfd;
  color: white;
  border-color: #093372;
  border-radius: 10px;
}

div.footer {
  margin-top: 30px;
}