#movie-cast {
  display: flex;
  justify-content:space-between;
  gap: 5px;
 
}

#movieContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

#movieRightContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
}

#genre-tag {display: flex; justify-content: center; gap: 10px; flex-wrap: wrap;}